.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.form button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
